<div class="row">
  <div class="col-md-4">
    <nav>
      <ul class="list-inline sm-text-center text-left flip mt-5">
        <li> <a class="text-white" href="faq.html">FAQ</a> </li>
        <li class="text-white">|</li>
        <li><a class="text-white" href="#" data-toggle="modal" data-target=".help-desk-modal">Help Desk</a></li>
   
        
      </ul>
    </nav>
  </div>

  <div class="col-md-6">
    <div class="widget m-0 mt-5 no-border">
      <ul class="list-inline text-right sm-text-center">
        <li class="pl-10 pr-10 mb-0 pb-0">
          <div class="header-widget text-white"><i class="fa fa-phone"></i> (505) 827-2613 </div>
        </li>
        <li class="pl-10 pr-10 mb-0 pb-0">
          <div class="header-widget text-white"><i class="fa fa-envelope-o"></i> contact@nmhealth.org </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2 text-right flip sm-text-center">
    <div class="widget m-0">
      <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm">
        <li class="mb-0 pb-0"><a href="https://www.facebook.com/nmdoh" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li class="mb-0 pb-0"><a href="https://twitter.com/nmdoh" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="mb-0 pb-0"><a href="https://www.linkedin.com/company/newmexicodepartmentofhealth" target="_blank"><i class="fa fa-linkedin text-white"></i></a></li>
        <li class="mb-0 pb-0"><a href="https://www.instagram.com/nmdoh" target="_blank"><i class="fa fa-instagram"></i></a></li>
        
        
      </ul>
    </div>
  </div>

</div>

<div class="modal fade help-desk-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" style="width: 35%;"> 
  
    <div class="modal-content" > 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Help Desk Contact Form</h4>
      </div>
      <div class="modal-body" >

          <form >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>First Name <small class="errorMessage">*</small></label>
                  <input name="form_name" class="form-control" type="text" placeholder="Enter First Name" required="" aria-required="true">
                </div>
              </div>  </div>
              <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Last Name <small class="errorMessage">*</small></label>
                  <input name="form_email" class="form-control required email" type="text" placeholder="Enter Last Name" aria-required="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Email <small class="errorMessage">*</small></label>
                  <input name="form_name" class="form-control" type="text" placeholder="Enter Email" required="" aria-required="true">
                </div>
              </div> 
              <!-- <div class="col-sm-6">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input name="form_work_phone" class="form-control" type="text" placeholder="Enter Phone Number">
                </div>
              </div> -->
            </div>
             
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                      <label>What's the issue? <small class="errorMessage">*</small></label>
                      <input name="form_issue" class="form-control" type="text" placeholder="What's the issue?" required="" aria-required="true">
                    </div>
                  </div>
                </div>
               
                  <div class="row"> 
                    <div class="col-sm-12">
                <div class="form-group">
                  <label>Additional Details <small class="errorMessage">*</small></label>
                  <textarea name="form_message" class="form-control required" rows="5" placeholder="Additional Details"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        
          
          <div class="modal-footer">
            <a class="btn btn-default btn-lg btn-circled btn-primary mr-10" href="#" title="Submit" data-dismiss="modal" 
            style="transition: none 0s ease 0s; line-height: 23px; border-width: 1px; margin: 0px 10px 0px 0px; padding: 10px 20px; letter-spacing: 1px; font-weight: 400; font-size: 14px;">
            Submit </a>
                  <a class="btn btn-default btn-lg btn-circled  mr-10" data-dismiss="modal"  href="#" title="Close"
                  style="transition: none 0s ease 0s; line-height: 23px; border-width: 1px; margin: 0px 10px 0px 0px; padding: 10px 20px; letter-spacing: 1px; font-weight: 400; font-size: 14px;">
                  Close </a> </div>
        </div>
        </div>
      </div>

      